body {
	background-size: cover;
	background-position: top;
	transition: background-image 1s ease;
	color: rgb(0, 0, 0);
	font-family: "Fredoka One", normal;
	font-size: 24px;
	-Webkit-text-stroke: 1px White;
}

#container {
  display: flex;
  flex-direction: column; 
  gap: 20px; 
  width: 200px;
}

.item {
  width: 400px;
  height: 120px;
  padding: 15px;
  border-radius: 8px;
}

.item h6 {
  margin-top: 10px;
  font-size: 17px;

}
