	html, body {
	    height: 100%;
	    margin: 0;
	}
	
	.Body {
	    background-image: url('https://someonescripts.github.io/Main/Websites%20Images/Penitent.jpg');
	    background-size: cover;
	    background-repeat: no-repeat;
	    background-position: center;
	    min-height: 100vh;
	    font-family: 'Fredoka One', cursive;
	    font-size: 18px;
	    color: white;
	    -webkit-text-stroke: 1px black;
	}
	.Social img {
	    width: 50px;
	    height: 50px;
	    cursor: pointer;
	    border-radius: 12px;
	}
	.SocialMedia1 {
	    font-family: 'Fredoka One', cursive;
	    font-size: 26px;
	    color: white;
	    -webkit-text-stroke: 1px black;
	}